body {
  background-color: #f4f6fa;
  font-family: "Archivo";
}
* {
  font-family: "Archivo";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.password-container h1 {
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.1%;
}
.instruction {
  color: #021c3e;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-family: "Archivo";
  font-size: 16px;
  opacity: 0.5;
  position: absolute;
  top: 160px;
  left: 80px;
}
.password-container {
  background-color: #ffff;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  position: absolute;
  width: 609px;
  height: 599px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.password-field {
  font-family: "Archivo";
  box-sizing: border-box;
  position: absolute;
  top: 270px;
  left: 80px;
  background: #f9fafc;
  border: 1px solid #bcc7d3;
  border-radius: 3px;
  padding: 15px;
  width: 460px;
  height:48px;
  transition: all 0.2s ease-in-out, 0.2s ease-in-out;
}
.password-field2 {
  font-family: "Archivo";
  box-sizing: border-box;
  position: absolute;
  top: 400px;
  left: 80px;
  background: #f9fafc;
  border: 1px solid #bcc7d3;
  border-radius: 3px;
  padding: 15px;
  width: 460px;
  height:48px;
  transition: all 0.2s ease-in-out, 0.2s ease-in-out;
}
.password-txt {
  position: absolute;
  top: -40px;
}
.password-label {
  color: #464a53;
  position: absolute;
  top: 240px;
  left: 80px;
  font-size: 14px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.confirm-label {
  color: #464a53;
  position: absolute;
  top: 370px;
  left: 80px;
  font-size: 14px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.continue-btn3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  font-size: 14px;
  color: white;
  position: absolute;
  width: 460px;
  background: #ec7406;
  padding: 16px, 192px;
  gap: 10px;
  height: 50px;
  top: 500px;
  left: 80px;
  border: 1px solid #bcc7d3;
  border-radius: 3px;
}
